.cakes{
    font-size:80px ;
  text-align: center;
  padding-top:20px ;
  color:magenta;

  
}
.paragraph{
    font-size:20px ;
    text-indent:0.3 ;
    text-align: center;
}
.strawberry{
    float:right;
    padding-right:50px ;
    margin-left:10px ;
    padding-top:190px ;
    border-radius:5% ;

}
.pie{
    float: right;
    padding-top:60px ;
}
.taste{
   padding-left:160px ;
   font-size:35px ;
   line-height:0 ;
   
}
.natural{
padding-left:160px ;
padding-top:60px ;
font-size:40px ;
color: orange;
}
.our{
    padding-left:160px ;
}
.cup{
    background-image:u;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size:cover;
    
}